@using AspNetCoreIdentity.Extensions
@{
    ViewData["Title"] = "Secret";
}

<h1>Secret</h1>

@{
    if (this.IfClaim("Produtos", "Adicionar"))
    {
        <p>Você só vera isso se tiver permissao de adicionar</p>
    }
}

<div>
    @Html.ActionLink("Secret", "Secret").IfClaimShow(Context, "Produtos", "Adicionar")
</div>

<div>
    <a href="#" class="btn btn-danger @Html.Raw(this.IfClaimShow("Produtos", "Adicionar"))">Excluir</a>
</div>